# Node.js dependencies
client/node_modules/

# Python environment
server/venv/
server/Lib/
# server/Scripts/
server/files/

# Ignore logs and cache
**/*.log
**/__pycache__/
**/*.pyc

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
client/.env
server/.env
server/deploy_model.py

# Other ignored files
.idea/
.vscode/

/client/node_modules
/client/.pnp
client/.pnp.*
client/.yarn/*
!client/.yarn/patches
!client/.yarn/plugins
!client/.yarn/releases
!client/.yarn/versions

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
client/.DS_Store
client/*.pem
client/.env.local

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
client/.env*

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts


server/transformed_files/
server/training_data/
server/temp_models/
server/temp_models/
server/processing_status/
server/processed_files/
server/preprocessing_results/
server/models

